doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='http://cdn.bootcss.com/normalize/4.1.1/normalize.min.css')
    link(rel='stylesheet', type='text/css', href='./css/resume.css')
    link(rel='stylesheet', type='text/css', href='./iconfont/iconfont.css')
  body
    if aside
      aside
        ul
          each val in aside
            li
              a(href=val.href target="_blank")= val.content
    .container
      block header
      block content
      article.content
        article.column-6
          if education
            block education
          if language
            block language
          if experience
            block experience
        article.column-6.column
          block skills
    footer
      p 感谢您花时间阅读我的简历，期待能有机会和您共事。

